LOG_LEVEL=debug

DB_HOST=postgres
DB_PORT=5432
DB_NAME=banner_rotation
DB_USERNAME=banner_rotation
DB_PASSWORD=banner_rotation

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_WEB_PORT=15672
RABBITMQ_USER=banner_rotation
RABBITMQ_PASSWORD=banner_rotation

GRPC_HOST=0.0.0.0
GRPC_PORT=8082